@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
    --dark-color: #1B1C23;
    --light-color: #FAF4E6;
    --active-color: #5A6DD0;
  }

body {
    position: relative;
    display: block;
    margin: auto;
    padding: 0;
    max-width: 820px;
    box-sizing: border-box;
    background-color: var(--light-color);
    font-family: 'Comfortaa';
    color: var(--dark-color);
    border: 3px solid var(--dark-color);
}

a:hover, a:link, a:active, a:visited {
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    height: 60px;
    min-height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--dark-color);
}

.social-buttons {
    padding: 30px 0;
    width: 100%;
    height: 40px;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    cursor: pointer;
    width: auto;
    height: 40px;
}
.social-icon:hover {
    transform: scale(1.1);
}


.message {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 309px;
    height: 282px;
}

h2 {
    text-align: left;
    min-width: 255px;
    width: 80%;
    height: auto;
    font-size: 48px;
    z-index: 10;
}

.message-square-bubble {
    z-index: 5;
    position: absolute;
    left: 0; top: 0;
    width: 310px;
    height: 328px;
}

.picture {
    position: relative;
    width: 230px;
    height: 230px;
    margin: 50px auto 30px auto;
    image-rendering: crisp-edges;
    z-index: 3;
}
.picture img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.picture::before {
    content: "";
    position: absolute;
    border-radius: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 242px;
    height: 242px;
    background-color: var(--dark-color);
    z-index: -1;
}

button {
    font-family: 'Comfortaa';
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    background-color: var(--light-color);
    padding: 4px 0 2px 0;
    width: 230px;
    height: 40px;
    font-size: 24px;
    border: #1B1C23 solid 3px;
    border-radius: 5px;
    box-shadow: #1B1C23 6px 6px 0 0;
}

button:hover {
    background-color: var(--active-color);
    color: var(--light-color);
}

@keyframes scroll-arrows {
    0% {
      opacity: 100%;
    }
    20% {
        opacity: 0%;
    }
    40% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
  }

.arrows-container {
    position: fixed;
    width: auto;
    height: auto;
    right: 20px; bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.arrow1 {
    animation: scroll-arrows 5s infinite linear;
}
.arrow2 {
    animation: scroll-arrows 5s infinite linear;
    animation-delay: 0.25s;
}
.arrow3 {
    animation: scroll-arrows 5s infinite linear;
    animation-delay: 0.5s;
}

h3 {
    margin: 43px 0 0 0;
    font-size: 36px;
    font-weight: 700;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--dark-color) 3px solid;
    border-top: var(--dark-color) 3px solid;
}

.toolset-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px auto 15px auto;
    width: 100%;
    height: auto;
}

.toolset-container div {
    height: 80px;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolset-container img {
    height: 80px;
    width: auto;
}

.skill-container {
    height: auto;
    width: 100%;
    margin: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.skill {
    font-weight: bolder;
    font-size: 24px;
}

.skill-rate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.skill-rate {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: var(--dark-color) 3px solid;
}

.filled {
    background-color: var(--dark-color);
}

footer {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 30px;
}

.contact-form-container {
    z-index: 99;
    position: fixed;
    top: 0; left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 820px;
    height: 100vh;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-color);
    border: 3px solid var(--dark-color);
}

.contact-form {
    position: relative;
    display: block;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid var(--dark-color);
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    box-shadow: #1B1C23 6px 6px 0 0;
    margin: 20px 0;
}


label {
    display: block;
    width: 100%;
    font-family: 'Comfortaa';
    font-weight: lighter;
    font-size: 18px;
    margin: 15px 0 5px 0;

}

input, textarea {
    display: block;
    width: 100%;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    border: var(--dark-color) 1px solid;
}

input:focus, textarea:focus {
    border: var(--dark-color) 3px solid !important;
    outline: none;
}